
{% extends "home/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
    <div class="topmain">
    {% else %}
    <div class="top">
    {% endif %}
      <div class="topnav">
          <div class="topnav-centered">
              <a href="/" class="active">Home</a>
          </div>

          <a>E-platform</a>

          <div class="topnav-right">
              {% if request.user.is_authenticated %}
              <a href="/user/logout/">로그아웃</a>
              {% else %}
              <a href="/user/registration/">회원가입</a>
              <a href="/user/login/">로그인</a>
              {% endif %}
          </div>
      </div>
      {% if request.user.is_authenticated %}
        <div class="banner">
            <div class="logo">

            </div>
            <a href="/1/">
            <div class="button">
                참가하기
            </div>
            </a>

        </div>
      {% endif %}
      </div>
    </div>

    <div class="competition">
        <div class="contents">
            <div class="contents_title">
            <a href="/competitions">주요 대회 일정</a>
            </div>
            {% if latest_competitions_list %}
                <ul>
                    {% for competition in latest_competitions_list %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions are available.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="/competitions">신청 가능 대회</a>
            </div>
            {% if latest_competitions_list %}
                <ul>
                    {% for competition in latest_competitions_list %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions are available.</p>
            {% endif %}

        </div>

        <div class="contents">
            <div class="contents_title">
                하이라이트<br>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/U_n20yIvbpA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="practice">
        <div class="contents_title">
            <a href="/practice">연습경기 모집</a>
        </div>
            {% if practices %}
                <ul>
                    {% for practice in practices %}
                    <li><a href="{% url 'practice:detail' practice.id %}">{{ practice.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Practice are available.</p>
            {% endif %}
    </div>

{% endblock %}
