
{% extends "competitions/base.html" %}

{% block title %} esportsPlatform : Practice-detail{% endblock %}

{% block content %}

<div class="top">
      <div class="topnav">
          <div class="topnav-centered">
              <a href="/" class="active">Home</a>
          </div>

          <a>E-platform</a>

          <div class="topnav-right">
              {% if request.user.is_authenticated %}
              <a href="/user/logout/">로그아웃</a>
              {% else %}
              <a href="/user/registration/">회원가입</a>
              <a href="/user/login/">로그인</a>
              {% endif %}
          </div>
      </div>
      </div>
    </div>
    <h3>   {{ practice.game }}  </h3>

    <h1>    {{ practice.title }}  </h1>

    <h1>    {{ practice.text }}  </h1>

    <form action="{% url 'practice:attend' practice.id %}" method="post">
    {% csrf_token %}

    <input type="submit" value="연습경기 참가하기">
    </form>
{% endblock %}