
{% extends "competitions/base.html" %}

{% block title %} esportsPlatform : competition-detail{% endblock %}

{% block content %}

<div class="top">
      <div class="topnav">
          <div class="topnav-centered">
              <a href="/" class="active">Home</a>
          </div>

          <a>E-platform</a>

          <div class="topnav-right">
              {% if request.user.is_authenticated %}
              <a href="/user/logout/">로그아웃</a>
              {% else %}
              <a href="/user/registration/">회원가입</a>
              <a href="/user/login/">로그인</a>
              {% endif %}
          </div>
      </div>
    </div>
</div>

<div class = "contents_detail">
    <h1 class = "practice_name"> {{ practice.title }} </h1>
    {% if model.game in 'LOL' %}
    <a href = "https://kr.leagueoflegends.com/ko-kr/">
    <img class = "practice_img" src = "/static/practice/images/lol.jpg">
    </a>
    {% elif model.game in 'Overwatch' %}
    <a href = "https://playoverwatch.com/ko-kr/">
    <img class = "practice_img" src = "/static/practice/images/overwatch.jpg">
    </a>
    {% endif %}
    <table class = "contents_table">
        <tr>
            <th>게임분야</th>
            <td> {{ practice.game }} </td>
        </tr>
        <tr>
            <th>게시자</th>
            <td> {{ practice.author }} </td>
        </tr>
        <tr>
            <th>티어</th>
            <td> {{ practice.tier}} </td>
        </tr>
        <tr>
            <th>소개</th>
            <td> {{ practice.text }} </td>
        </tr>
        <tr>
            <th>연습일</th>
            <td> {{ practice.practice_time }} </td>
        </tr>
        <tr>
            <th>게시일</th>
            <td> {{ practice.date_published }} </td>
        </tr>
    </table>
</div>

<div class = "pager">
    {% if practice.id|add:'-1' != 0 %}
    <a class = "previous" href="{% url 'practice:detail' practice.id|add:'-1' %}">이전페이지</a>
    {% endif %}


    {% if practice.id|add:'1' %}
    <a class = "next" href="{% url 'practice:detail' practice.id|add:'1' %}">다음페이지</a>
    {% endif %}
</div>

    <form action="{% url 'practice:attend' practice.id %}" method="post">
    {% csrf_token %}

    <input type="submit" value="연습경기 참가하기">
    </form>

{% endblock %}