
{% extends "home/base.html" %}

{% block title %} 연습 경기 {% endblock %}

{% block content %}


<div class="competition">
    <div class="contents_list">

        <div class="contents_title row">
                <div class="col-sm">
                    <a href="/practice">연습 경기</a>
                </div>
                <div class="col-sm">
                    {# Search #}
                    <div class="container">
                        <form class="form-inline md-form form-sm mt-0 float-right" method='GET' action="{% url 'practice:search' %}">
                           <i class="fas fa-search mr-1" aria-hidden="true"></i>
                            <select class="form-control custom-select mr-1" name="attribute" value="{{ request.GET.attribute }}">
                                <option value="title">제목</option>
                                <option value="author">작성자</option>
                                <option value="text">내용</option>
                                <option value="tier">티어</option>
                            </select>
                            <input class="form-control mr-1" type="text" name="qs" value="{{ request.GET.qs }}"/>
                            <input class="btn btn-primary" type="submit" value="검색">

                        </form>
                    </div>
                </div>
            </div>
        {% if practices %}
        <table class = "practice_list table table-hover text-white">
            <thead class="thead-light">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>게임</th>
                    <th>티어</th>
                    <th>연습일</th>
                    <th>게시일</th>
                </tr>
            </thead>


            <tbody>
            {% for practice in practices %}
                <tr>
                    <th>{{ practice.id }}</th>
                    <td><a href="{% url 'practice:detail' practice.id %}">{{ practice.title }}</a></td>
                    <td>{{ practice.game }}</td>
                    <td>{{ practice.tier }}</td>
                    <td>{{ practice.practice_time|date:"Y-m-d" }}</td>
                    <td>{{ practice.pub_date|date:"Y-m-d" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>현재 연습 경기가 없습니다.</p>
        {% endif %}
    </div>

    {# Pagination #}
    <div class="pagination pull-left">
        {% if is_paginated %}
        <nav>
            <ul class="pagination pagination-sm">
                {% if page_obj.has_previous %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span>Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                        <span>Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_range %}
                <li class = "page-item {% if page == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span>Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span>Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    <div class="container-fluid full-width">
        <a href="create"><button type="submit" class="save btn btn-primary">연습경기 만들기</button></a>

    </div>

</div>

{% endblock %}
