
{% extends "practice/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}


    <div class="practice">
        <div class="contents_list">
            <div class="contents_title">
            <a href="/practice">연습 경기</a>
            </div>
            {% if practices %}
            <table class = "practice_list">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>게임</th>
                    <th>티어</th>
                    <th>연습일</th>
                    <th>게시일</th>
                </tr>
                </thead>
                <tbody>
                {% for practice in practices %}
                <tr>
                    <th>{{ practice.id }}</th>
                    <td><a href="{% url 'practice:detail' practice.id %}">{{ practice.title }}</a></td>
                    <td>{{ practice.game }}</td>
                    <td>{{ practice.tier }}</td>
                    <td>{{ practice.practice_time|date:"Y-m-d" }}</td>
                    <td>{{ practice.pub_date|date:"Y-m-d" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>현재 연습 경기가 없습니다.</p>
            {% endif %}
        </div>
        {% if is_paginated %}
    <div class = "pagination">
      <span class = "page-links">
        {% if page_obj.has_previous %}
        <a href="{{ self.path }}?page={{ page_obj.previous_page_number">previous</a>
        {% endif %}
        <span class = "page-current">
          <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
        </span>
        {% if page_obj.has_next %}
        <a href="{{ self.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
      </span>
    </div>
    {% endif %}
        <a href="{% url 'practice:create' %}">연습경기 생성</a>
    </div>



{% endblock %}
