
{% extends "home/base.html" %}

{% block title %} 연습 경기 {% endblock %}

{% block content %}


<div class="competition">
    <div class="contents">
        <div class="contents_title">
            <a href="/practice/list"  data-toggle="tooltip" data-placement="right" title="더보기">최근 생성된 연습경기</a>
        </div>
        {% if practices %}
        <ul>
            {% for practice in practices %}
            <li><a href="{% url 'practice:detail' practice.id %}">{{ practice.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No Practice are available.</p>
        {% endif %}
    </div>

    <div class="contents">
        <div class="contents_title">
            <a href="/practice/myprac"  data-toggle="tooltip" data-placement="right" title="더보기">참가중인 연습경기</a>
        </div>
        {% if attend_practice %}
        <ul>
            {% for practice in attend_practice %}
            <li><a href="{% url 'practice:detail' practice.practice.id %}">{{ practice.practice.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p> No Practice are available.</p>
        {% endif %}
    </div>


    <div class="container-fluid full-width">
        <a href="list/create"><button type="submit" class="save btn btn-primary">연습경기 만들기</button></a>
    </div>
</div>

{% endblock %}
