

<div class="tab-pane fade" id="{{round}}" role="tabpanel" aria-labelledby="{{round}}">
      <table class="table table-dark">
    <colgroup>
            <col width="10%">
            <col width="30%">
            <col width="30%">
            <col width="15%">
            <col width="15%">
        </colgroup>
        <thead class="thead-light">
            <tr>
              <th scope="col">번호</th>
              <th scope="col"> 팀 </th>
              <th scope="col">경기 일시</th>
              <th scope="col">경기 결과</th>
              <th scope="col"> 관리자
            <svg class="bi bi-wrench" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z"/>
            </svg> </th>
        </tr>
    </thead>

    {% for match in matches %}
        <tr>
            <td>{{ match.number }}</td>
            {% if match.team1 %}
                <td><a href="/competitions/match/{{match.pk}}">{{ match.team1}} vs {{match.team2 }}</a></td>
            {% else %}
                <td><a href="/competitions/match/{{match.pk}}"> 경기예정</a></td>
            {% endif %}
            <td>{{ match.date }}</td>

            {% if match.result == 0 %}<td style="color:lightgray;">경기전</td>
            {% elif match.result == 1 %}<td><a href="/team/detail/{{match.team1.pk}}">{{ match.team1}}</a> 승</td>
            {% elif match.result == 2 %}<td><a href="/team/detail/{{match.team2.pk}}">{{ match.team2}}</a> 승</td>
            {% elif match.result == 3 %}<td style="color:yellow;"> 무승부 </td>
            {% elif match.result == -1 %}<td style="color:skyblue;"> 부전승 </td>

            {% endif %}

            {% if competition.master == user %}
                <td><a href="/competitions/match/edit/{{match.pk}}">정보 입력</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>

</div>

