
{% extends "home/base.html" %}

{% block title %} esportsPlatform : 대회 상세정보{% endblock %}

{% block content %}

<div class ="container mt-3 " style="color:black">

    <div class = "border border-primary rounded bg-light mt-3 p-5 "  >
        <h1 class = "competition_name"> {{ competition.competition_name }} </h1>

    {% if messages %}
        {% for message in messages %}
            <div class="row" style="margin:20px auto;">
            <div class="col-sm-12">
                <div class="alert alert-primary">
                    {{ message.message }}
                </div>
            </div>
            </div><!-- Logout Modal-->
        {% endfor %}
    {% endif %}

        {% if competition.formatted_image %}
            <img src="{{ competition.formatted_image.url }}" class="rounded competition_img mt-1">
        {% else %}
            {% if competition.competition_game in 'LOL' %}
            <a href = "https://kr.leagueoflegends.com/ko-kr/">
            <img class = "competition_img rounded" src = "/static/competitions/images/lol.jpg">
            </a>
            {% elif competition.competition_game in 'Overwatch' %}
            <a href = "https://playoverwatch.com/ko-kr/">
            <img class = "competition_img rounded" src = "/static/competitions/images/overwatch.jpg">
            </a>
            {% endif %}
        {% endif %}
        <table class = "table contents_table head-light table-hover mb-2 " style="color:black">
            <tr >
                <th>종목</th>
                <td> {{ competition.competition_game }} </td>
            </tr>
            <tr>
                <th>주최자</th>
                <td> {{ competition.master.name0}} </td>
            </tr>
            <tr>
                <th>참가자격</th>
                <td> {{ competition.required_tier}} </td>
            </tr>
            <tr>
                <th>대회 등록 일자</th>
                <td> {{ competition.pub_date }} </td>
            </tr>
            <tr>
                <th>대회 기간</th>
                <td> {{ competition.date_start|date:"Y-m-d" }} ~ {{ competition.date_end|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>참가 신청 기간</th>
                <td> {{ competition.attend_start|date:"Y-m-d" }} ~ {{ competition.attend_end|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>게시일</th>
                <td> {{ competition.pub_date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>대회소개</th>
                <td> {{ competition.competition_text }} </td>
            </tr>
            <tr>
                <th>홈페이지</th>
                {% if competition.competition_game in 'LOL' %}
                <td><a href="https://kr.leagueoflegends.com/ko-kr/">https://kr.leagueoflegends.com/ko-kr/</a>
                {% elif competition.competition_game in 'Overwatch' %}
                <td><a href="https://playoverwatch.com/ko-kr/">https://playoverwatch.com/ko-kr/</a>
                {% endif %}
            </tr>
        </table>


    </div>
        <div class="col-xl col-lg border border-primary rounded bg-light mt-3 p-5 ">
              <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">참가 현황</h6>

                        <row>

                        {% if competition.current_teams >= competition.total_teams %}
                            <a href="#" class="btn btn-primary" role="button">신청이 마감되었습니다</a>
                            <a href="/competitions/brackets/{{competition.pk}}" class="btn btn-primary" role="button">대진표 보기</a>
                        {% elif competition.can_attend %}
                            <a href="/competitions/attend/{{competition.pk}}" id="attend" class="btn btn-primary" role="button">대회 참가하기</a>
                        {% else %}
                            <a href="#" class="btn btn-primary" role="button">신청기간이 아닙니다</a>
                        {% endif %}
                        </row>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary m-3">현재 참여팀수 : {{competition.current_teams}} 모집 팀 : {{competition.total_teams}}</h6>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                   aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {% widthratio competition.current_teams competition.total_teams 100 %}%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-columns" style="color:black">
                        {% for otherteam in otherteams %}
                            <div class="card bg-light  m-3" style="max-width: 18rem;">
                              <div class="card-header"><a href="/team/detail/{{otherteam.team.pk}}" data-toggle="tooltip" data-placement="right" title="팀 정보 보기">{{otherteam.team.name}}</a></div>
                              <div class="card-body">
                                <p class="card-text">{{otherteam.team.text}}</p>
                              </div>
                            </div>
                        {% endfor %}
                    </div>
              </div>
        </div>

     <!-- comment -->
    <div class = "Comment mt-2">
        {% load disqus_tags %}
        <div>
            {% disqus_show_comments %}
        </div>
    </div>


    <div class="row mt-4">
        <div class = "pager">
            {% if previous and page_num is not notSetting %}
                <a class = "list" href="{% url 'competitions:detail' previous.id %}">이전페이지</a>
            {% endif %}

            {% if state == 'ONGOING' %}
                <a class = "list" href="{% url 'competitions:ongoing' %}">목록</a>
            {% elif state == 'CURRENT_PAST' %}
                <a class = "list" href="{% url 'competitions:past_current' %}">목록</a>
            {% elif state == 'LAST_PAST' %}
                <a class = "list" href="{% url 'competitions:past_last' %}">목록</a>
            {% elif state == 'LAST_LAST_PAST' %}
                <a class = "list" href="{% url 'competitions:past_last' %}">목록</a>
            {% else %}
                <a class = "list" href="{% url 'competitions:scheduled' %}">목록</a>
            {% endif %}

            {% if next and page_num is not notSetting %}
                <a class = "list" href="{% url 'competitions:detail' next.id %}">다음페이지</a>
            {% endif %}
        </div>
    </div>




</div>


{% endblock %}
