
{% extends "competitions/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}

    <div class="top">
      <div class="topnav">
          <div class="topnav-centered">
              <a href="/" class="active">Home</a>
          </div>

          <a>E-platform</a>

          <div class="topnav-right">
              {% if request.user.is_authenticated %}
              <a href="/user/logout/">로그아웃</a>
              {% else %}
              <a href="/user/registration/">회원가입</a>
              <a href="/user/login/">로그인</a>
              {% endif %}
          </div>
      </div>

      </div>
    </div>

    <div class="competition">
        <div class="contents">
            <div class="contents_title">
            <a href="/competitions/ongoing">진행중인 대회</a>
            </div>
            {% if ongoings %}
                <ul style = "list-style:none;">
                    {% for competition in ongoings %}
                    {% if competition.competition_game in 'LOL' %}
                    <li class = "lol_competition"><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    <a href="{% url 'competitions:detail' competition.id %}"><img src = "/static/competitions/images/lol.jpg" width="30%" height=auto></a>
                    {% elif competition.competition_game in 'Overwatch' %}
                    <li class = "overwatch_competition"><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    <a href="{% url 'competitions:detail' competition.id %}"><img src = "/static/competitions/images/overwatch.jpg" width="30%" height=auto></a>
                    {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions in progress are available.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="/competitions/scheduled">예정 대회</a>
            </div>
            {% if scheduleds %}
                <ul>
                    {% for competition in scheduleds %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions in scheduled are available.</p>
            {% endif %}
        </div>

        <div class = "contents">
            <div class = "contents_title">
                <a href="/competitions/past">지난 대회</a>
            </div>
            {% if pasts %}
                <ul>
                    {% for competition in pasts %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions in past scheduled are available.</p>
            {% endif %}
        </div>

    </div>


{% endblock %}
