
{% extends "home/base.html" %}

{% block title %} esportsPlatform {% endblock %}


{% block content %}

    <div class="competition">
        <div class="contents">
            <div class="contents_title">
            <a href="/competitions/ongoing"  data-toggle="tooltip" data-placement="right" title="더보기">진행중인 대회</a>
            </div>
            {% if ongoings %}
                <ul>
                    {% for competition in ongoings %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions in progress are available.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="/competitions/scheduled"  data-toggle="tooltip" data-placement="right" title="더보기">예정 대회</a>
            </div>
            {% if scheduleds %}
                <ul>
                    {% for competition in scheduleds %}
                    <li><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p> No Competitions in scheduled are available.</p>
            {% endif %}
        </div>

        <div class = "contents">
            <div class = "contents_title">
                <a href="/competitions/past"  data-toggle="tooltip" data-placement="right" title="더보기">지난 대회</a>
            </div>
            <ul>
                <li><a href="{% url 'competitions:past_current' %}">{{ current_year }} 대회</a></li>
                <li><a href="{% url 'competitions:past_last' %}">{{ last_year }} 대회</a></li>
                <li><a href="{% url 'competitions:past_last_last' %}">{{ last_last_year }} 대회</a></li>
            </ul>
        </div>


        <a href="create/"><button type="submit" class="save btn btn-primary">대회 생성</button></a>

    </div>


{% endblock %}
