
{% extends "home/base.html" %}

{% block title %} esportsPlatform : 경기 상세정보{% endblock %}

{% block content %}

<div class ="container mt-3 " style="color:black">

    <div class = "border border-primary rounded bg-light mt-3 p-5 "  >
        {% if messages %}
            {% for message in messages %}
                <div class="row" style="margin:20px auto;">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        {{ message.message }}
                    </div>
                </div>
                </div><!-- Logout Modal-->
            {% endfor %}
        {% endif %}

        <h1 class = "competition_name">
            <a href="/competitions/{{match.competition.pk}}" data-toggle="tooltip" data-placement="right" title="대회 정보 보기">{{ match.competition.competition_name }}</a>
             의 {{match.number}}번 경기
        </h1>
        <div class="card-footer bg-transparent border-dark"></div>

        <h2>
            경기일 : {{match.date}}
        </h2>
        <div class="card-footer bg-transparent border-dark"></div>

        <table class = "table contents_table head-light table-hover mb-2 " style="color:black">
            <colgroup>
                <col width="10%">
                <col width="45%">
                <col width="45%">
            </colgroup>
            <tr>
                <th>팀</th>
                {% if match.team1 %}
                <td style="text-align:center"><a href="/team/detail/{{match.team1.pk}}" data-toggle="tooltip" data-placement="right" title="팀 정보 보기">{{ match.team1 }}</a></td>
                {% else %}
                 <td style="text-align:center"> 없음 </td>
                {% endif %}

                {% if match.team2 %}
                <td style="text-align:center"><a href="/team/detail/{{match.team2.pk}}" data-toggle="tooltip" data-placement="right" title="팀 정보 보기">{{ match.team2 }}</a></td>
                {% else %}
                 <td style="text-align:center"> 없음 </td>
                {% endif %}
            </tr>
            <tr>
                <th>결과</th>
                {% if match.result == 0 %}
                    <td colspan="2" style="text-align:center">경기 전</td>
                {% elif match.result == 1 %}
                    <td colspan="2" style="text-align:center">1팀승리</td>
                {% elif match.result == 2%}
                    <td colspan="2" style="text-align:center">2팀승리</td>
                {% elif match.result == 3%}
                    <td  colspan="2" style="text-align:center">무승부</td>
                {% endif %}
            </tr>
        </table>
        <a href="/competitions/brackets/{{match.competition.pk}}" class="btn btn-primary" role="button">경기목록</a>
        {% if master == user %}
            <a href="/competitions/match/edit/{{match.pk}}"><button type="submit" class="save btn btn-primary float-right">경기 내용 수정</button></a>
        {% endif %}


    </div>
</div>


{% endblock %}
