
{% extends "home/base.html" %}

{% block title %} esportsPlatform : 경기 상세정보{% endblock %}

{% block content %}

<div class ="container mt-3 " style="color:black">

    <div class = "border border-primary rounded bg-light mt-3 p-5 "  >
        {% if messages %}
            {% for message in messages %}
                <div class="row" style="margin:20px auto;">
                <div class="col-sm-12">
                    <div class="alert alert-danger">
                        {{ message.message }}
                    </div>
                </div>
                </div><!-- Logout Modal-->
            {% endfor %}
        {% endif %}

        <h1 class = "competition_name">
            <a href="/competitions/{{match.competition.pk}}" data-toggle="tooltip" data-placement="right" title="대회 정보 보기">{{ match.competition.competition_name }}</a>
             의 {{match.number}}번 경기
        </h1>
        <div class="card-footer bg-transparent border-dark"></div>

        <h2>
            경기일 : {{match.date}}
        </h2>
        <div class="card-footer bg-transparent border-dark"></div>

        <table class = "table contents_table head-light table-hover mb-2 " style="color:black">
            <colgroup>
                <col width="10%">
                <col width="45%">
                <col width="45%">
            </colgroup>
            <tr>
                <th>팀</th>
                {% if match.team1 %}
                <td style="text-align:center"><a href="/team/detail/{{match.team1.pk}}" data-toggle="tooltip" data-placement="right" title="팀 정보 보기">{{ match.team1 }}</a></td>
                {% else %}
                 <td style="text-align:center"> 없음 </td>
                {% endif %}

                {% if match.team2 %}
                <td style="text-align:center"><a href="/team/detail/{{match.team2.pk}}" data-toggle="tooltip" data-placement="right" title="팀 정보 보기">{{ match.team2 }}</a></td>
                {% else %}
                 <td style="text-align:center"> 없음 </td>
                {% endif %}
            </tr>
            <tr>
                <th>결과</th>
                {% if match.result == 0 %}
                    <td colspan="2" style="text-align:center">경기 전</td>
                {% elif match.result == 1 %}
                    <td colspan="2" style="text-align:center">{{match.team1}} 승리</td>
                {% elif match.result == 2%}
                    <td colspan="2" style="text-align:center">{{match.team2}} 승리</td>
                {% elif match.result == 3%}
                    <td  colspan="2" style="text-align:center">무승부</td>
                {% endif %}
            </tr>
        </table>
        <a href="/competitions/brackets/{{match.competition.pk}}" class="btn btn-primary" role="button">경기목록</a>
        {% if master == user %}
            <a href="/competitions/match/edit/{{match.pk}}"><button type="submit" class="save btn btn-primary float-right">경기 내용 수정</button></a>
        {% endif %}
</div>

<div class = "border border-primary rounded bg-light mt-3 p-5 "  >
    <div class = "comment mt-4">
        <h2> 경기 댓글 </h2>
        <table class="table table-dark">
            <colgroup>
                <col width="25%">
                <col width="65%">
                <col width="10%">
            </colgroup>
            <thead class="thead-light">
                <tr>
                  <th scope="col">작성자</th>
                  <th scope="col">내용</th>
                  <th scope="col"></th>
                </tr>
            </thead>

            {% for comment in comments %}
            <tr>
                <td>{{ comment.author.name }}</td>
                <td>{{ comment.content }}</td>
                {% if comment.author.name == request.user.name %}
                <td style="text-align:right;"><a style="color:red" href = "{% url 'competitions:delete_comment' match.id comment.id %}">삭제</a></td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>

        <form action='{% url "competitions:new_comment" match.id %}'method="post">{% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <input type="text" class="form-control" placeholder="{{user.name}}" disabled>
                </div>
                <div class="col-8">
                    <textarea type="text" class="form-control" name="content" required="" id="id_content"></textarea>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" type="submit">입력</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
