
{% extends "competitions/base.html" %}

{% block title %} Ongoing Competitions {% endblock %}

{% block content %}
    <div class="top">
      <div class="topnav">
          <div class="topnav-centered">
              <a href="/" class="active">Home</a>
          </div>

          <a>E-platform</a>

          <div class="topnav-right">
              {% if request.user.is_authenticated %}
              <a href="/user/logout/">로그아웃</a>
              {% else %}
              <a href="/user/registration/">회원가입</a>
              <a href="/user/login/">로그인</a>
              {% endif %}
          </div>
      </div>

      </div>
    </div>

    <div class="competition">
        <div class="contents_list">
            <div class="contents_title">
            <a href="/competitions/ongoing">진행중인 대회</a>
            </div>
            {% if latest_competitions_list %}
            <table class = "competition_list">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>대회명</th>
                    <th>게임</th>
                    <th>게시일</th>
                </tr>
                </thead>
                <tbody>
                {% for competition in latest_competitions_list %}
                <tr>
                    <th>{{ competition.id }}</th>
                    <td><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></td>
                    <td>{{ competition.competition_game }}</td>
                    <td>{{ competition.pub_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>현재 진행중인 대회가 없습니다.</p>
            {% endif %}
        </div>
        <div class = "pager_list">
            <a href = "?page=1">맨 앞으로</a>
            <a href = "?page={{ competitions.previous_page_number }}">이전으로</a>
            {% if posts.has_other_pages %}
            <ul class = "pagination">
                {% if competitions.has_previous %}
                <li><a href = "?page={{ competitions.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class = "disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for page_num in p_range %}
                {% if competitions.number == i %}
                <li class = "active"><span>{{ page_num }}<span class = "sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}

                {%if competitions.has_next %}
                <li><a href = "?page={{ competitions.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class = "disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            <a href = "?page={{ posts.next_page_number }}">다음으로</a>
            <a href = "?page={{ posts.paginator.num_pages }}">맨 뒤로</a>
        </div>
    </div>

{% endblock %}
