
{% extends "home/base.html" %}

{% block title %} Ongoing Competitions {% endblock %}

{% block content %}
    <div class="competition">
        <div class="contents_list">
            <div class="contents_title">
            <a href="/competitions/past">지난 대회</a>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#current">2020</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#last">2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#last_last">2018</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="current">
                    {% if current_year %}
                    <table class = "competition_list table table-hover  text-white">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>대회명</th>
                        <th>게임</th>
                        <th>대회일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competition in current_year %}
                    <tr>
                        <th>{{ competition.id }}</th>
                        <td><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></td>
                        <td>{{ competition.competition_game }}</td>
                        <td>{{ competition.date_start }} ~ {{ competition.date_end }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                    <span>지난 게임이 존재하지 않습니다.</span>
                    {% endif %}
                </div>
                <div class="tab-pane fade in active" id="last">
                    {% if last_year %}
                    <table class = "competition_list table table-hover  text-white">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>대회명</th>
                        <th>게임</th>
                        <th>대회일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competition in last_year %}
                    <tr>
                        <th>{{ competition.id }}</th>
                        <td><a href="{% url 'competitions:past_detail' competition.id %}">{{ competition.competition_name }}</a></td>
                        <td>{{ competition.competition_game }}</td>
                        <td>{{ competition.date_start }} ~ {{ competition.date_end }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                    <span>지난 게임이 존재하지 않습니다.</span>
                    {% endif %}
                </div>
                <div class="tab-pane fade in active" id="last_last">
                    {% if last_last_year %}
                    <table class = "competition_list table table-hover  text-white">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>대회명</th>
                        <th>게임</th>
                        <th>대회일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competition in last_last_year %}
                    <tr>
                        <th>{{ competition.id }}</th>
                        <td><a href="{% url 'competitions:past_detail' competition.id %}">{{ competition.competition_name }}</a></td>
                        <td>{{ competition.competition_game }}</td>
                        <td>{{ competition.date_start }} ~ {{ competition.date_end }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% else %}
                    <span>지난 게임이 존재하지 않습니다.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
