
{% extends "home/base.html" %}

{% block title %} 지난 대회 {% endblock %}

{% block content %}
    <div class="competition">
        <div class="contents_list">
            <div class="contents_title">
            <a href="/competitions/past">지난 대회</a>
            </div>
            <div class="content">
                {% if past_competitions_list %}
                <table class = "competition_list table table-hover  text-white">
                    <colgroup>
                        <col width="10%">
                        <col width="25%">
                        <col width="25%">
                        <col width="40%">
                    </colgroup>
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">대회명</th>
                            <th scope="col">게임</th>
                            <th scope="col">게시일</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for competition in past_competitions_list %}
                    <tr>
                        <th>{{ competition.id }}</th>
                        <td><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></td>
                        <td>{{ competition.competition_game }}</td>
                        <td>{{ competition.date_start }} ~ {{ competition.date_end }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <span>지난 게임이 존재하지 않습니다.</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
