
{% extends "home/base.html" %}

{% block title %} Ongoing Competitions {% endblock %}

{% block content %}
    <div class="competition">
        <div class="contents_list">
            <div class="contents_title">
            <a href="/competitions/scheduled">예정된 대회</a>
            </div>
            {% if scheduled_competitions_list %}
            <table class = "competition_list">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>대회명</th>
                    <th>게임</th>
                    <th>게시일</th>
                </tr>
                </thead>
                <tbody>
                {% for competition in scheduled_competitions_list %}
                <tr>
                    <th>{{ competition.id }}</th>
                    <td><a href="{% url 'competitions:detail' competition.id %}">{{ competition.competition_name }}</a></td>
                    <td>{{ competition.competition_game }}</td>
                    <td>{{ competition.pub_date }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>예정된 대회가 없습니다</p>
            {% endif %}
        </div>
        <div class = "pager_list">
            <a href = "?page=1">맨 앞으로</a>
            <a href = "?page={{ posts.previous_page_number }}">이전으로</a>
            {% if samelines.has_other_pages %}
            <ul class = "pagination">
                {% if samelines.has_previous %}
                <li><a href = "?page={{ samelines.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class = "disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for page_num in samelines.paginator.page_range %}
                {% if samelines.number == page_num %}
                <li class = "active"><span>{{ page_num }}<span class = "sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
                {%if samelines.has_next %}
                <li><a href = "?page={{ samelines.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class = "disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            <a href = "?page={{ posts.next_page_number }}">다음으로</a>
            <a href = "?page={{ posts.paginator.num_pages }}">맨 뒤로</a>
        </div>
    </div>

{% endblock %}
