
{% extends "home/base.html" %}

{% block title %} esportsPlatform : mypage{% endblock %}

{% load static %}
{% block content %}
<style>
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>

<body id="page-top" xmlns:width="http://www.w3.org/1999/xhtml">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user/mypage/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-sportrs <sup>platform</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/user/mypage/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>마이페이지</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
         게임별 통계
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>게임별 통계</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="lol">League of Legends</a>
            <a class="collapse-item" href="Overwatch">OverWatch</a>
          </div>
        </div>
      </li>
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column pt-3">

      <!-- Main Content -->
      <div id="content">


        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        {% if not records %}
        <div class ="No_data">
          <h4>아직 전적 정보를 불러오지 못했습니다. 잠시 후에 새로고침을 눌러주세요</h4><br>
          <button class="new_record " type="new_record">전적갱신</button>

        </div>
        {% else %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style = "font-family:Nanum Gothic;">{{ user.name}}님의 League</h1>
          </div>

          <div class ="row">

            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <table>
                        <thead>
                        <td>
                          <img src={{records.0.tierImg}} alt="tier" class="TierImg" style="width: 10rem; height: 10rem;">
                        </td>
                        <td>
                            <div class="name m-0 p-0 display-3"> {{records.0.nickName}}</div>
                            <div class="rank m-0 p-0 ">{{records.0.rank}}</div>
                        </td>
                        </thead>

                        <tbody>
                        <th>
                          <div class="mr-3">평균 KDA</div>
                        </th>
                          <td>
                            <a class="'avgKDA">{{avg.avgKill|floatformat}} / {{avg.svhDeath|floatformat}} / {{avg.avgAssist|floatformat}}</a>
                          </td>
                        <th>
                          <div class="mr-5">평균 킬관여</div>

                        </th>
                        <td>
                          <a class="'avgRatio">{{avg.avgRatio|floatformat:-0}}%</a>
                        </td>
                        </tbody>
                        <tbody>
                        <th>
                          와드 설치제거
                        </th>
                        <td>
                          <a class="'avgWard">{{avg.avgWard|floatformat:-0}}</a>
                        </td>
                        <th>
                          제어와드
                        </th>
                        <td>
                          <a class="'avgPward"> {{avg.avgPward|floatformat:-0}}</a>
                        </td>
                        </tbody>
                        <tbody>
                        <th>
                          CS
                        </th>
                        <td>
                          <a class="'avgCs">{{avg.avgCs|floatformat:-0}} cs / {{avg.csPerMin|floatformat}} cs (분당)</a><br>
                        </td>
                        <th>
                          평균 딜량
                        </th>
                        <td>
                          <a class="'avedmg">{{avg.avgdmg|floatformat:-0}}</a><br>
                        </td>
                        </tbody>

                      </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Content Row -->
          <div class="row">
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script src="https://code.highcharts.com/highcharts.src.js"></script>

            <!-- Area Chart -->
            <div class="card shadow mb-4 d-flex col-auto" style = "font-family:Nanum Gothic;">
              <div class = 'card-body'>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link active" id="record-tab" data-toggle="tab" href="#record" role="tab" aria-controls="record" aria-selected="true">전적 미리보기</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="dmg-tab" data-toggle="tab" href="#dmg" role="tab" aria-controls="dmg" aria-selected="false">딜량</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="Cs-tab" data-toggle="tab" href="#cs" role="tab" aria-controls="cs" aria-selected="false">CS</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link" id="ward-tab" data-toggle="tab" href="#ward" role="tab" aria-controls="ward" aria-selected="false">시야 점수</a>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link" id="object-tab" data-toggle="tab" href="#object" role="tab" aria-controls="object" aria-selected="false">오브젝트</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content col-auto " id="mytest">
                <div class="tab-pane fade show active" id="record" role="tabpanel" aria-labelledby="record-tab">
                  <div class = "row p-0 m-0 col-auto" style="overflow-y: scroll; height: 50rem;">
                      {% for record in records %}
                      {% if record.outCome in 'win' %}
                    <div class="card bg-primary p-0 m-0 text-center text-white" style="width: 8rem; height: 13rem;">
                        <div class="card-header bg-primary " >
                          <h6>{{record.outCome}}</h6>
                        </div>
                        <div class="card-body">
                          <img src={{record.champImg}} alt={{record.champion}} class="champimg" style="border-radius: 50rem; width: 4rem; height: 4rem;">
                        </div>
                        <div class="'card-tail">
                          <h6>{{record.killratio}}%<br></h6>
                          <h6>{{record.kill}} / {{record.death}} / {{record.assist}}</h6>
                        </div>
                      </div>
                      {% else %}
                    <div class="card bg-danger p-0 m-0 text-center text-white" style="width: 8rem; height: 13rem;">
                        <div class="card-header bg-danger text-black">
                          <h6>{{record.outCome}}</h6>
                        </div>
                        <div class="card-body">
                          <img src={{record.champImg}} alt={{record.champion}} class="champimg" style="border-radius: 50rem; width: 4rem; height: 4rem;">
                        </div>
                        <div class="'card-tail">
                          <h6>{{record.killratio}}%<br></h6>
                          <h6>{{record.kill}} / {{record.death}} / {{record.assist}}</h6>
                        </div>
                      </div>
                        {% endif %}
                      {% endfor %}
                  </div>
                </div>
                <div class="tab-pane fade" id="dmg" role="tabpanel" aria-labelledby="dmg-tab">
                  <div class = "dmg_chart" id="dmgChart">
                    <script type="text/javascript">
                        Highcharts.chart('dmgChart', {
                          chart: {
                            type: 'line'
                          },
                          title: {
                            text: ''
                          },
                          series: [{
                          name: 'win',
                          data: [
                            {% for record in win %}
                            {% if record.outCome in 'win' %}
                            {% if forloop.counter <= 10 %}
                            {{record.damage}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'green'
                          }, {
                            name: 'lose',
                          data: [
                            {% for record in lose %}
                            {% if record.outCome in 'lose' %}
                            {% if forloop.counter <= 10 %}
                            {{record.damage}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'red'
                          }]
                        });
                    </script>
                  </div>
                </div>
                <div class="tab-pane fade" id="cs" role="tabpanel" aria-labelledby="Cs-tab">
                  <div class = "cs_chart" id="csChart">
                    <script type="text/javascript">
                        Highcharts.chart('csChart', {
                          chart: {
                            type: 'line'
                          },
                          title: {
                            text: ''
                          },
                          series: [{
                          name: 'win',
                          data: [
                            {% for record in win %}
                            {% if record.outCome in 'win' %}
                            {% if forloop.counter <= 10 %}
                            {{record.cs}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'green'
                          }, {
                            name: 'lose',
                          data: [
                            {% for record in lose %}
                            {% if record.outCome in 'lose' %}
                            {% if forloop.counter <= 10 %}
                            {{record.cs}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'red'
                          }]
                        });
                      </script>
                  </div>
                </div>
                <div class="tab-pane fade" id="ward" role="tabpanel" aria-labelledby="ward-tab">
                  <div class = "ward_chart" id="wardChart">
                    <script type="text/javascript">
                        Highcharts.chart('wardChart', {
                          chart: {
                            type: 'line'
                          },
                          title: {
                            text: ''
                          },
                          series: [{
                          name: 'win',
                          data: [
                            {% for record in win %}
                            {% if record.outCome in 'win' %}
                            {% if forloop.counter <= 10 %}
                            {{record.wardSet}} + {{record.wardDel}} + {{record.pinkward}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'green'
                          }, {
                            name: 'lose',
                          data: [
                            {% for record in lose %}
                            {% if record.outCome in 'lose' %}
                            {% if forloop.counter <= 10 %}
                            {{record.wardSet}} + {{record.wardDel}} + {{record.pinkward}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'red'
                          }]
                        });
                      </script>
                  </div>
                </div>
                <div class="tab-pane fade" id="object" role="tabpanel" aria-labelledby="object-tab">
                  <div class = "object_chart" id="objectChart">
                    <script type="text/javascript">
                        Highcharts.chart('objectChart', {
                          chart: {
                            type: 'line'
                          },
                          title: {
                            text: ''
                          },
                          series: [{
                          name: 'win',
                          data: [
                            {% for record in win %}
                            {% if record.outCome in 'win' %}
                            {% if forloop.counter <= 10 %}
                            {{record.baron}} + {{record.dragon}} + {{record.tower}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'green'
                          }, {
                            name: 'lose',
                          data: [
                            {% for record in lose %}
                            {% if record.outCome in 'lose' %}
                            {% if forloop.counter <= 10 %}
                            {{record.baron}} + {{record.dragon}} + {{record.tower}}
                            {% endif %}
                            {% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                          ],
                            color: 'red'
                          }]
                        });
                      </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>

{% endblock %}
