
{% extends "home/base.html" %}

{% block title %} esportsPlatform : mypage{% endblock %}

{% load static %}
{% block content %}

<body id="page-top" xmlns:width="http://www.w3.org/1999/xhtml">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user/mypage/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-sportrs <sup>platform</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/user/mypage/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>마이페이지</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
         게임별 통계
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>게임별 통계</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="lol">League of Legends</a>
            <a class="collapse-item" href="Overwatch">OverWatch</a>
          </div>
        </div>
      </li>
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column pt-3">

      <!-- Main Content -->
      <div id="content">


        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ user.name}}님의 마이페이지</h1>
          </div>

          <!-- Content Row -->
          {% for datum in data %}
          <div class="row">
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> 돌격군</div>
                      <div class="col-auto">
                      <img src="https://static.playoverwatch.com/img/pages/career/icon-tank-8a52daaf01.png">
                      <div class="h5 mb-10 font-weight-bold text-gray-800">{{ datum.tank_level }}점</div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> 공격군</div>
                      
                      <div class="col-auto">
                      <img src="https://static.playoverwatch.com/img/pages/career/icon-offense-6267addd52.png">
                      <div class="h5 mb-10 font-weight-bold text-gray-800">{{ datum.damage_level }}점</div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-xl col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> 지원군</div>
                      <div class="col-auto">
                      <img src="https://static.playoverwatch.com/img/pages/career/icon-support-46311a4210.png">
                      <div class="h5 mb-10 font-weight-bold text-gray-800">{{ datum.support_level }}점</div>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
{% endfor %}
</div>
<!-- /.container-fluid -->


<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>영웅</th>
            <th>플레이시간(분)</th>
            <th>승리한게임</th>
            <th>승률</th>
            <th>명중률</th>
            <th>목숨당처치</th>
            <th>동시처치</th>
            <th>임무기여처치</th>
          </tr>
        </thead>
        <tbody>
          {% for hero in top_heroes %}
          <tr>
            <td>{{ hero.0 }}</td>
            {% for key, value in hero.1.items %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




</div>
<!-- End of Main Content -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>

{% endblock %}
