
{% extends "home/base.html" %}
{% load crispy_forms_tags %}

{% block title %} esportsPlatform : mypage{% endblock %}

{% load static %}
{% block content %}

<body id="page-top" xmlns:width="http://www.w3.org/1999/xhtml">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/user/mypage/">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-sportrs <sup>platform</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/user/mypage/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>마이페이지</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
         게임별 통계
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>게임별 통계</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="lol">League of Legends</a>
            <a class="collapse-item" href="Overwatch">OverWatch</a>
          </div>
        </div>
      </li>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column pt-3">

      <!-- Main Content -->
      <div id="content">


        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ user.name}}님의 마이페이지</h1>
          </div>

          <!-- Content Row -->

          <div class = "border border-primary rounded bg-light mt-3 p-5 "  >
            {% if messages %}
                {% for message in messages %}
                    <div class="row" style="margin:20px auto;">
                    <div class="col-sm-12">
                        <div class="alert alert-danger">
                            {{ message.message }}
                        </div>
                    </div>
                    </div><!-- Logout Modal-->
                {% endfor %}
            {% endif %}
            <h2>개인정보 수정 <i class="fas fa-comments fa-2x text-gray-300"></i> </h2>


            <form method="POST" class="post-form">
            {% csrf_token %}
              <div class="card-footer bg-transparent border-dark"></div>

                  <div class="row">
                      <div class="form-group col-md-12 mb-0">
                              {{ form.message | as_crispy_field}}
                      </div>
                  </div>

                    <div class="row">
                      <div class="form-group col-md-6 mb-0">
                              {{ form.lolid | as_crispy_field}}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                              {{ form.overwid | as_crispy_field}}
                      </div>
                  </div>

                  <div>
                        <div class="row">
                          <div class="form-group col-md-12 mb-0">
                                  {{ form.usage_agree | as_crispy_field}}
                          </div>
                        </div>
                  </div>

              <button type="submit" class="save btn btn-success">수정</button>
            </form>
          </div>
        </div>
    </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

</body>

</html>

{% endblock %}
