
{% extends "home/base.html" %}

{% block title %} {{ team.name }} {% endblock %}

{% block content %}
<div class = "container mt-3">
<script text="text/javascript">var attending = false</script>
    <div class = "practice_detail">
    <h1 class = "practice_name"> {{ team.name }} : {{ team.game}}</h1>

    {% if team.visible %}
        <h3 class = "practice_name"> 팀원 모집중 </h3>
    {% else %}
        <h3 class = "practice_name"> 비공개 팀 </h3>
    {% endif %}

     <table class = "contents_table table .head-light">

        {% for member in members %}
         {% if user.name == member.user_pk.name %} <script text="text/javascript">var attending = true</script>
         {% endif %}

        {% if member.user_pk.name == team.master.name %}
        <tr>
            <td style="color:red">{{ member.user_pk.name }}(팀장)</td>
        </tr>
        {% else %}
        <tr>
             <td>{{ member.user_pk.name }}</td>
        </tr>
        {% endif %}

        {% endfor %}
    </table>

    <a href="/team/attend/{{team.pk}}" id="attend" class="btn btn-primary" role="button">팀 참가하기</a>
        <script>
            if(attending) {
                button = document.getElementById("attend");
                button.innerHTML = "팀원 초대하기";
                button.href="/team/invite/{{team.pk}}";
            }
        </script>
</div>
{% endblock %}
