
{% extends "home/base.html" %}

{% block title %} {{ team.name }} 팀정보 {% endblock %}

{% block content %}
    <div class = "container ">
        <div class = "border border-primary rounded bg-light mt-3 p-5 " >
            <script text="text/javascript">var attending = false</script>
            <div class = "practice_detail">
                <h1 class = "practice_name">  {{ team.name }}</h1> <h3 class = "practice_name">  게임 : {{ team.game }}</h3>
                <h4>
                {% if team.visible %}
                    팀종류 : 공개팀
                {% else %}
                    팀종류 : 비공개팀
                {% endif %}
                </h4>
                팀 소개 : {{ team.text }}
                <div class="card-footer bg-transparent border-primary"></div>

                {% if messages %}
                    {% for message in messages %}
                        <div class="row" style="margin:20px auto;">
                        <div class="col-sm-12">
                            <div class="alert alert-primary">
                                {{ message.message }}
                            </div>
                        </div>
                        </div><!-- Logout Modal-->
                    {% endfor %}
                {% endif %}

                 <table class = "table head-light table-hover m-0 " >
                     <thead class="thead-dark">
                        <tr>
                            <th scope="col">팀원</th>
                            <th scope="col">메세지</th>
                    {% for member in members %}
                     {% if user.name == member.user_pk.name %} <script text="text/javascript">var attending = true</script>
                     {% endif %}

                    {% if member.user_pk.name == team.master.name %}
                    <tr>
                        <td style="color:red">{{ member.user_pk.name }}(팀장)</td>
                        <td style="color:black">{{ member.user_pk.message }}</td>

                    </tr>
                    {% else %}
                    <tr>
                         <td style="color:black">{{ member.user_pk.name }}</td>
                         <td style="color:black">{{ member.user_pk.message }}</td>
                    </tr>
                    {% endif %}

                    {% endfor %}
                </table>

                <div class="card-footer bg-transparent border-primary"></div>
                <a href="/team/attend/{{team.pk}}" id="attend" class="btn btn-primary" role="button">팀 참가하기</a>
                    <script>
                        if(attending) {
                            button = document.getElementById("attend");
                            button.innerHTML = "팀원 초대하기";
                            button.href="/team/invite/{{team.pk}}";
                        }
                    </script>

            </div>
        </div>
    </div>

{% endblock %}
