
{% extends "home/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}

    <div class="competition">
        <div class="contents">
            <div class="contents_title" >
                <a href="/team/myteam/" data-toggle="tooltip" data-placement="right" title="더보기">내가 속한 팀</a>
            </div>
            {% if teams %}
                <table class="table table table-hover text-white">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">팀명</th>
                          <th scope="col">게임</th>
                        </tr>
                    {% for team in teams %}
                    <tr>
                    <td><a href="{% url 'team:detail' team.team_pk.pk %}">{{ team.team_pk }}</a></td>
                    <td>{{ team.team_pk.game }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 내가 속한 팀이 없습니다.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="/team/list" data-toggle="tooltip" data-placement="right" title="더보기">팀원 구함</a>
            </div>
            {% if visible %}
                <table class="table table-hover text-white">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">팀명</th>
                          <th scope="col">게임</th>
                        </tr>
                    {% for visibleteam in visible %}
                    <tr>
                    <td><a href="{% url 'team:detail' visibleteam.pk %}">{{ visibleteam.name }}</a></td>
                    <td>{{ visibleteam.game }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 팀원을 찾는 팀이 없습니다.</p>
            {% endif %}
        </div>


        <div class="contents">
            <div class="contents_title">
                <a href="/team/myinvitation" data-toggle="tooltip" data-placement="right" title="더보기">받은 초대</a>
            </div>
            {% if invitations %}
                <table class="table table-hover text-white">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">팀명</th>
                          <th scope="col">초대한사람</th>
                        </tr>
                    {% for invitation in invitations %}
                    <tr>
                    <td><a href="{% url 'team:invitation' invitation.pk %}">{{ invitation.team_pk }}</a></td>
                    <td>{{ invitation.inviter_pk }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 받은 초대가 없습니다.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="myprac" data-toggle="tooltip" data-placement="right" title="더보기">참가신청한 연습경기</a>
            </div>
            {% if practices %}
                <table class="table table-hover text-white">
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">제목</th>
                          <th scope="col">경기 날짜</th>
                        </tr>
                    {% for practice in practices %}
                    <tr>
                    <td><a href="{% url 'practice:detail' practice.pk %}">{{ practice.title }}</a></td>
                    <td>{{ practice.practice_time }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 참가신청한 연습경기가 없습니다.</p>
            {% endif %}
        </div>

        <div class="contents">
            <div class="contents_title">
                <a href="/team/create">새로운 팀 만들기</a>
            </div>
        </div>

    </div>


{% endblock %}