
{% extends "home/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}

    <div class="competition">

        <div class="contents mb-0">
            <div class="contents_title row">
                <div class="col-sm">
                    <a href="/team/list">팀원 구함</a>
                </div>
                <div class="col-sm">
                    <form action="" method="get" class="form-inline md-form form-sm mt-0 float-right">
                       <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control" type="text" placeholder="팀명으로 검색" aria-label="Search" name="q" value="{{ q }}">
                      <input type="submit" value="검색">
                    </form>
                </div>
            </div>
            {% if teams %}
                <table class="table table-dark">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="50%">
                    </colgroup>
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">팀명</th>
                          <th scope="col">게임</th>
                          <th scope="col">상세</th>
                        </tr>
                    {% for team in teams %}
                    <tr>
                    <td><a href="{% url 'team:detail' team.pk %}">{{ team.name }}</a></td>
                    <td>{{ team.game }}</td>
                    <td>{{ team.text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 팀원을 찾는 팀이 없습니다.</p>
            {% endif %}
        </div>


        {# Pagination #}
        <div class="pagination">
        {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center pagination-sm">
                {% if page_obj.has_previous %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span>Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                    <span>Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_range %}
                <li class = "page-item {% if page == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span>Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                    <span>Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        </div>

    </div>
{% endblock %}
