
{% extends "home/base.html" %}

{% block title %} esportsPlatform {% endblock %}

{% block content %}

    <div class="competition">

        <div class="contents mb-0">
            <div class="contents_title">
                <a href="/team/myteam">내 팀</a>
            </div>
            {% if myteams %}
                <table class="table table-hover text-white">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="50%">
                    </colgroup>
                    <thead class="thead-light">
                        <tr>
                          <th scope="col">팀명</th>
                          <th scope="col">게임</th>
                          <th scope="col">상세</th>
                        </tr>
                    {% for team in myteams %}
                    <tr>
                    <td><a href="{% url 'team:detail' team.team_pk.pk %}">{{ team.team_pk }}</a></td>
                    <td>{{ team.team_pk.game }}</td>
                    <td>{{ team.team_pk.text }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p> 내가 가입한 팀이 없습니다.</p>
            {% endif %}
        </div>


        {# Pagination #}
        <div class="pagination">
        {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center pagination-sm">
                {% if page_obj.has_previous %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span>Previous</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                    <span>Previous</span>
                    </a>
                </li>
                {% endif %}
                {% for page in page_range %}
                <li class = "page-item {% if page == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class = "page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span>Next</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                    <span>Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
        </div>


    </div>
{% endblock %}
