body {
    padding:0px;
    margin:0px;
}

.competition{
    padding:100px;
    background: black;
    font-size:20px;
}

.contents{
    color:white;
    margin-bottom:100px;
}

.contents li a{
    text-decoration: none;
}

.contents_list {
    color:white;
    margin-bottom:100px;
    padding: 15px;
    margin-bottom: 50px solid green;
    border-bottom: 5px solid white;
    font-size: 20px;
}

.contents_list li a{
    text-decoration: none;
}


/* Style of detail */

.competition_img{
    max-width: 100%;
    height: auto !important;
}

.contents_detail .contents_table{
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

.contents_detail .contents_table th{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}

.contents_detail .contents_table td{
    width: max-width;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.contents_detail{
    font-size: 20px;
}

.contents_detail a{
    color: black;
}

.contents_detail a:hover{
    color: red;
}

.pager a{
    font-size: 20px;
    color: black;
}


#footer{
    background: white;
    padding:0px 50px 50px 30px;
}


.button{
  margin:20px auto;
  width:5%;
  background-color: #4A4C4E;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border: #FA9C1D solid 5px;
}

.practice{
    padding:100px;
    background:#4A4C4E;
    font-size:20px;
    color:black;
}


.practice a:link, .practice a:visited, .practice a:hover, .practice a:active {
    font-size: 20px;
    font-color:white;
    text-decoration: none;

}

.competition a:link, .competition a:visited, .competition a:hover, .competition a:active {
    font-size: 20px;
    font-color:red;
    text-decoration: none;
}


.contents_title a:link, .contents_title a:visited, .contents_title a:hover, .contents_title a:active {
    font-size: 30px;
    font-color:#FA9C1D;
    text-decoration: none;  color:white;
}
